<h2>管理ページ</h2>
<ul class="list-group">
    <li class="list-group">
        <%= link_to '記事管理', "/admin/article_edit/", class: "list-group-item list-group-item-action list-group-item-primary" %>
        <%= link_to 'エリアタグ管理', "/admin/area/", class: "list-group-item list-group-item-action list-group-item-primary" %>
        <%= link_to 'カテゴリタグ管理', "/admin/category/", class: "list-group-item list-group-item-action list-group-item-primary" %>
        <%= link_to 'アクセス数表示', "/admin/article_access_count/", class: "list-group-item list-group-item-action list-group-item-primary" %>
    </li>
</ul>