@import "~bootstrap-material-design/scss/bootstrap-material-design";
@import "~css-spinners";
@import "~github-markdown-css";


body {
  margin-top: 40px;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

.dropdown-toggle::after {
  border: none;
}

.nav-item a {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
}
.nav-item a::before,
.nav-item a::after {
  border-bottom: solid 2px #f00;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0;
}
.nav-item a::before {
  left: 50%;
}
.nav-item a::after {
  right: 50%;
}
.nav-item a:hover::before,
.nav-item a:hover::after {
  width: 50%;
}

hr {
  border-top: 3px dashed blue;
}

#error_explanation * li {
  color: red;
}

#error_explanation * h2 {
  color: red;
}

.sub-title {
  font-size: 15px;
}

.hover-img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-img:hover {
  opacity: 0.5;
}

#image_preview img {
  max-width: 400px;
}

#image_previews img {
  max-width: 400px;
}

.art-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.art-img-title {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

.img-art-title {
  width: 80%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.art-p {
  // font-size: 20px;
}

.thumb-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.card-hover {
  border-radius: 15px;
}


.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.snsButtons a {
  text-decoration: none;
}
/* 各 SNS ボタンのボックス */
.snsButtons li {
  display: inline-block;  /* 水平に並べる */
  list-style-type: none;  /* 先頭のポッチを消す */
  margin: 2px;
  padding: 6px 10px;
  width: 100px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  opacity: 0.7;
}
/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
/* 各 SNS のブランドカラー */
.snsButtons_twitter  { background: #1da1f2; }
.snsButtons_facebook { background: #3b5998; }
.snsButtons_pocket   { background: #ee4056; }
.snsButtons_google   { background: #dd4b39; }