@import "~bootstrap-material-design/scss/bootstrap-material-design";

body {
  margin-top: 70px;
}

.sub-title {
  font-size: 15px;
}

.hover-img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover-img:hover {
  opacity: .5;
}

.art-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.art-img-title {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

.img-art-title {
  width: 80%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.art-p {
  font-size: 20px;
}

.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-left: 10px;
  height: 0;
  overflow: hidden;
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
