@import "~bootstrap-material-design/scss/bootstrap-material-design";
@import "~css-spinners";
@import "~github-markdown-css";


body {
  margin-top: 40px;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

.dropdown-toggle::after {
  border: none;
}

.nav-item a {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
}
.nav-item a::before,
.nav-item a::after {
  border-bottom: solid 2px #f00;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0;
}
.nav-item a::before {
  left: 50%;
}
.nav-item a::after {
  right: 50%;
}
.nav-item a:hover::before,
.nav-item a:hover::after {
  width: 50%;
}

hr {
  border-top: 3px dashed blue;
}

#error_explanation * li {
  color: red;
}

#error_explanation * h2 {
  color: red;
}

.sub-title {
  font-size: 15px;
}

.hover-img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-img:hover {
  opacity: 0.5;
}

#image_preview img {
  max-width: 400px;
}

#image_previews img {
  max-width: 400px;
}

.art-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.art-img-title {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

.img-art-title {
  width: 80%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.art-p {
  // font-size: 20px;
}

.thumb-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.card-hover {
  border-radius: 15px;
}
