<div class="row">
    <div class="card mb-3 col-sm-12 col-lg-9 mx-auto">
        <div class="card-body">
            <h1>
                SURUGA-BUとは
            </h1>
            <%= image_tag_with_default "about.jpg", class: "card-img-top mb-3" %>
            <div id="actual_content" class="art-p mt-2">
                <p>
                    SURUGA-BU(するがぶ)は「静岡県東部(三島市,沼津市,伊豆など)」を中心に紹介するメディアです。
                    <br />
                    美味しいお店や観光スポットなど、静岡県東部に住む人や観光にくる人にとって参考となる情報を提供します。
                    <br />
                </p>
            </div>
            <h2>
                管理人プロフィール
            </h2>
            <div id="actual_content" class="art-p mt-2">
                <p>
                    静岡県東部の沼津市に住んでいます。
                    <br />
                    エンジニアとして働いていますが、趣味のプログラミングでWEBサイトやサービスなどを構築しています。
                    <br />
                    <br />
                    <a href="https://nobus-portfolio.web.app/">ポートフォリオサイト</a>
                    <br />
                    <br />
                    本サイトは元々はRuby on Railsの学習を兼ねて作成したサイトとなります。
                    <br />
                    今後もコンテンツの追加と合わせて、機能を拡張をしていこうと思いますのでよろしくお願いします。
                </p>
            </div>
        </div>
    </div>
</div>

<% if @articles.present? %>
<div class="row">
    <div class="col-12 col-md-9 mt-2 mx-auto">
        <h5>最新記事</h5>
    </div>
</div>
<% end %>

<div class="row">
    <div class="col-12 col-md-9 mt-2 mx-auto">
        <%= render partial: "layouts/article_small", collection: @articles, :as => "article" %>
    </div>
</div>