<div class="row">
    <div class="card mb-3 col-sm-12 col-lg-9 mx-auto">
        <div class="card-body">
            <h3>
                <img src="/assets/maguro.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
                お問い合わせ
            </h3>
            <p>下記フォームに入力して、送信ボタンで送付をお願いします。</p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfFQ3DayGE_cBYEtUxu5Ik1G2_VJSSHZUYSdV2C4arOaNC5Vw/viewform?embedded=true" width="100%" height="950" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
        </div>
    </div>
</div>