<div class="row">
    <a href="/articles/<%= article.id %>" class="card card-hover col-md-12 mb-2">
        <div class="row no-gutters">
            <div class="col-md-5">
                <%= image_tag_with_default article.title_image_thumbnail, class:"thumb-img hover-img card-hover mx-auto" %>
            </div>
            <div class=" col-md-7">
                <div class="card-body" style="border-radius: 15px;">
                    <h5 class="card-title">
                        <%= article.title %>
                    </h5>
                    <p class="card-text">
                        <%= article.sub_title %>
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>