<div class="row">
    <div class="col-12 col-md-9 mx-auto">
        <nav aria-label="breadcrumb col-12 col-md-9 mx-auto">
            <ol class="breadcrumb" style="background-color: transparent;">
                <li class="breadcrumb-item"><a href="/">Top</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= area.name %>
                </li>
            </ol>
        </nav>
    </div>
</div>