<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0"></script>

<ul class="snsButtons">
    <li class="snsButtons_twitter">
        <a rel="nofollow" target="_blank" href="https://twitter.com/share?url=<%= url_for(only_path: false) %>" class="text-white">ツイート</a>
    </li>
    <li class="snsButtons_facebook">
        <a rel="nofollow" target="_blank" class="text-white" href="http://www.facebook.com/share.php?u=<%= url_for(only_path: false) %>">
            <!-- ここに表示する要素を配置 -->
            シェア
        </a>
    </li>
</ul>