<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0"></script>

<ul class="snsButtons">
    <li class="snsButtons_twitter">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-white">ツイート</a></li>
    <li class="snsButtons_facebook">
        <a class="text-white" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsurugabu.com%2F&amp;src=sdkpreparse">
            <!-- ここに表示する要素を配置 -->
            シェア
        </a></li>
</ul>